html {
	background-color: #f2f2f2;
}

body {
  width: 1200px;
  background: white;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
}

a {
	color: black;
	text-decoration: none;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}


/*header*/


.container {
  margin: 0 auto;
  padding: 0;
	position: relative;
}

.navigation-list {
	margin: 0 auto;
  padding-left: 6%;
  padding-right: 6%;
}

.top-navigation {
	margin-top: 12.5px;
	margin-bottom: 18px;
  display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	line-height: 26px;
	text-align: left;
  width: 20%;
	margin-right: 26px;
}

.top-navigation:nth-child(2) {
	margin-right: 148px;
}

.top-navigation:nth-child(4) {
	margin-right: 0;
}

.right-column {
  text-align: right;
}

.index-logo {
  position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	margin-left: -70px;
}


/*main*/


.hero {
  width: 100%;
	height: 508px;
  background-color: white;
  background-image: url("../img/background-photo.jpg");
  margin: 0;
  background-repeat: no-repeat;
	position: relative;
}

.mask-shape {
	position: absolute;
	bottom: 0;
	margin-bottom: -6px;
}

.main-photo img {
	display: block;
	margin: 0 auto;
  padding-top: 76px;
}

.text-block {
	margin: 0 auto;
  min-height: 216px;
  background-color: white;
}

.block-title {
	margin: 0 auto;
	padding-top: 60px;
}

.block-paragraph {
	padding-top: 27.5px;
}

.block-title,
.block-paragraph {
	line-height: 26px;
	text-align: center;
	margin: 0 300px;
}


/*features №1 and №2*/


.features-with-photo {
	background-color: #81B3D2;
	height: 256px;
}

.photo-block {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.photo-block-name,
.photo-block-number,
.photo-block-paragraph {
	margin: 0 45px;
	text-align: center;
	color: white;
}

.photo-block-name {
	display: block;
	font-size: 21px;
	margin: 0 100px;
	margin-top: 46px;
}

.photo-block-number {
	margin-top: 24px;
	margin-bottom: 22px;
}

.city-view {
  display: inline-block;
  width: 66%;
}

.bridge-view {
  display: inline-block;
  width: 66%;
}


/*advices-block*/


.advices {
  min-height: 330px;
	text-align: center;
}

.advice {
	position: relative;
  float: left;
  width: 33%;
}

.advice-right {
	position: relative;
  float: right;
  width: 33%;
}

.advices b {
	display: block;
	font-size: 21px;
	margin-top: 160px;
}

.advices p {
	margin: 25px 50px 0 50px;
}

.advices-icon {
	position: absolute;
	left: 50%;
}

.house-icon {
	margin-left: -37.5px;
	top: 60px;
}

.food-icon {
	margin-left: -37px;
	top: 61px;
}

.souvenir-icon {
	margin-left: -32px;
	top: 56px;
}


/*features №3, №4 and №5*/


.features-without-photo {
  background-color: #eeeeee;
}

.background-block {
  float: left;
  width: 33%;
  text-align: center;
}

.background-right {
	float:right;
}

.background-block b {
	font-size: 21px;
	display: block;
	margin: 46px 118px 0 118px;
}

.background-block div {
	margin-top: 24px;
}

.background-block p {
	margin: 20px 65px 62px 65px;
}


/*promo-questiom*/


.promo-block {
	min-height: 291px;
}

.promo-question b,
.promo-question p {
	display: block;
	text-align: center;
	line-height: 24px;
}

.promo-question {
	padding-top: 56px;
}

.promo-question b {
	font-size: 30px;
}

.promo-question p {
	margin-top: 30px;
	margin-bottom: 0;
}


/*map-block*/


.map-photo {
	width: inherit;
	height: 473px;
	position: relative;
}

.map-photo iframe {
	position: absolute;
	top: 0;
}


/*footer*/


.main-footer {
	outline: 1px solid green;
	position: relative;
}

.footer-block {
	display: inline-block;
	width: 33%;
	margin-top: 37px;
	margin-bottom: 29px;
	text-align: center;
	vertical-align: middle;
	outline: 1px solid green;
}

.sedona-tag {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.label-logo {
	font-size: 14px;
	line-height: 26px;
}

.intensive {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	right: 15px;
}

.social {
	display: inline-block;
	width: 46px;
	height: 48px;
	background-color: #81B3D2;
	background-image: url("../img/sprite-social.png");
	background-repeat: no-repeat;
	margin-right: 5px;
}

.social-twitter {
	background-position: -24px 5px;
}

.social-facebook {
	background-position: 8px 2px;
}

.social-youtube {
	background-position: -63px 5px;
}
